<style type="text/css">
  .bdptable .title {
    width: 67%;
  }

  .bdptable .author {
    width: 33%;
  }
</style>
{% for status in site.data.statuses %}
  {% assign bdps = include.bdps|where:"status",status %}
  {% assign count = bdps|size %}
  {% if count > 0 %}
    <h2>{{status}}</h2>
    <table class="bdptable">
      <thead>
        <tr><th class="bdpnum">Number</th><th class="title">Title</th><th class="author">Author</th></tr>
      </thead>
      {% for page in bdps %}
        <tr>
          <td class="bdpnum"><a href="{{page.url|relative_url}}">{{page.bdp|xml_escape}}</a></td>
          <td class="title">{{page.title|xml_escape}}</td>
          <td class="author">{% include authorlist.html authors=page.author %}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endfor %}

